body{
  background-color: black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* NavBar */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  position: sticky;
  top: 0;
}
.navbar ul{
display: flex;
list-style: none;
margin: 20px 0px;
}
.navbar ul li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar ul li a{
  text-decoration: none;
  color: aliceblue;
  padding: 8px 25px;
  transition: all .5s ease;
}
.navbar ul li a:hover{
  background-color: aliceblue;
  color: black;
  box-shadow: 0,0,10 aliceblue;
}
.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10%;
}
h1{
  color:aqua;
  margin-right: 50px;
}
#image{
  height: 40px;
}
.text{
 color:aliceblue;
  justify-content: center;
  text-align: center right;
}
.text1 {
  color:aliceblue;
  justify-content: center top;
  text-align: center;
}
.image {
width: 100%;
}
.border {
  white-space: nowrap;  
  border: 2px solid white;
  overflow: hidden;
  text-overflow: clip;
  position: absolute;
  text-align: center;
top:20%;
left:20%
}
.border2 {
  white-space: nowrap; 
  border: 1px solid white;
  overflow: hidden;
  text-overflow: clip;
  position: absolute;
  text-align: center;
  left:20%
}
.border3{
  white-space: nowrap; 
  border: 1px solid white;
  overflow: hidden;
  text-overflow: clip;
  position: absolute;
  text-align: center;
  right:20%;
  top: 40%;
}